@mixin default {
    background-color: var(--background-primary);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5%;
    margin-right: 10%;
    margin-top: 0%;
}

:root {
    font-size: 20px;
    font-family: "dosis";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --text-tertiary: #141418;
    --background-primary:#23232e;
    --background-secondary:#141418;
    --background-tertiary: #adadad;
}

body {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    padding: 0;
    margin: 0;

}
#default {
    @include default;

}
main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    
    position: fixed;
    background-color: var(--background-primary);
    transition: 250ms ease;
    
}

.navbar-nav {
    list-style:none;
    //items in nav bar have no margin because of the following two properties
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    //align items center intends to move icons to the center of the nav bar on y axis. needs work.
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5);
    transition: var(--transition-speed);
}

.navlink:hover {
    filter:grayscale (0%) opacity(1);
    background-color: var(--background-secondary);
    color: var(--text-secondary);
}

.link-text{
    display:none;
    margin: 1rem;
}

.nav-link i {
min-width: 2rem;
margin:0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary, 
.fa-secondary {
    transition: var( --transition-speed);
}

h1 {
    display:flex;
    justify-content: center;
    color: var(--text-primary)
}
.cherrytree {
display:flex;
align-items: center;
justify-content:center;
max-width: 100vw;
max-height: 100vh;
}

#resumebody{
background-color: var(--background-secondary);

}
//containers1-4 need more/better formatting
#container1{
    margin:5px;
    padding:15px;
    max-width: 25vw;
    height: fit-content;
    background-color: red;
    float: right;
    color:black;
} 

#container2{
    padding:15px;
    max-width: 50vw;
    height: fit-content;
    background-color: yellow;
    color:black;

}

#container3{
    padding: 15px;
    max-width: 50vw;
    height: fit-content;
    background-color: green;
    color:black;
}

#container4{
    padding: 15px;
    max-width: 50vw;
    height: fit-content;
    background-color: blue;
    color:black;
    }

.resumepics{
    list-style:none;
    //items in nav bar have no margin because of the following two properties
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.resumelistpics{
    height: 40vh;
    
}

#resumefakepics{
    max-height: 45%;
    min-width:20px;
    object-fit: cover;
    vertical-align: bottom;
    display: flex;
    
}
//about me page needs icons added with hover effects
#aboutmebody{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    background: var(--background-secondary);
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

#aboutmemain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90%;
}
.cardcontainer{
    width:950px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    gap:40px;
    // background-color: red;
    
    
}

.cardcontainer:hover > .card1{
    cursor:pointer;
    transform: rotateY(180deg);
}

.card1{
    height:100%;
    width:100%;
   
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}


.front1, .back1{
height:100%;
width:100%;
border-radius: 2rem;
box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
position: absolute;
backface-visibility: hidden;

}

.front1{
    background-image: url(https://source.unsplash.com/random/950x700);
}

.back1{
background-color: #3a3a3a;
transform: rotateY(180deg);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5rem;
}

.cardcontainer:hover > .card2{
    cursor:pointer;
    transform: rotateY(180deg);
}

.card2{
    height:100%;
    width:100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}


.front2, .back2{
height:100%;
width:100%;
border-radius: 2rem;
box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
position: absolute;
backface-visibility: hidden;

}

.front2{
background-image: url(https://source.unsplash.com/random/950x700);
}

.back2{
background-color: #3a3a3a;
transform: rotateY(180deg);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5rem;
}

#pcbody{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pcpic{
    max-width: 80%;
    max-height: 80%;
}


































































































































//breakpoints may need adjusting at the end. will need to see how it affects overall formatting

//Small Screen Breakpoint
@media only screen and (max-width:800px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        position: fixed; 
    }
    .fa {
        display:block;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        }
    .nav-link {
            justify-content: center;
            //content centered along x axis here
        }
    main {
        margin: 0;
    }
}

// Large Screen Breakpoints
@media only screen and (min-width: 800px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;}
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}