@mixin default {
    background-color: var(--background-primary);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5%;
    margin-right: 10%;
    margin-top: 0%;
}

:root {
    font-size: 20px;
    font-family: "dosis";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --text-tertiary: #141418;
    --background-primary:#23232e;
    --background-secondary:#141418;
    --background-tertiary: #adadad;
}

body {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    padding: 0;
    margin: 0;

}
#default {
    @include default;
}
main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    
    position: fixed;
    background-color: var(--background-primary);
    transition: 250ms ease;
    
}

.navbar-nav {
    list-style:none;
    //items in nav bar have no margin because of the following two properties
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    //align items center intends to move icons to the center of the nav bar on y axis. needs work.
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5);
    transition: var(--transition-speed);
}

.navlink:hover {
    filter:grayscale (0%) opacity(1);
    background-color: var(--background-secondary);
    color: var(--text-secondary);
}

.link-text{
    display:none;
    margin: 1rem;
}

.nav-link i {
min-width: 2rem;
margin:0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary, 
.fa-secondary {
    transition: var( --transition-speed);
}

h1 {
    display:flex;
    justify-content: center;
    color: var(--text-primary)
}
.cherrytree {
display:flex;
align-items: center;
justify-content:center;
max-width: 100vw;
max-height: 100vh;
}

p {
display: flex;
flex-wrap: wrap;
justify-content:center;
}

#resumediv1 h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--text-tertiary);
}

//resumediv1 needs work on adjusting heading to be over the text
#resumediv1 {
    width: 50%;
    height: fit-content;
    background-color: var(--background-tertiary);
    color: var(--text-tertiary);
    padding: 50px;
    margin: 20px;
    display: flex;
    position: relative;
    float: right;
}

#resumediv2 {
    width: 50%;
    height: fit-content;
    background-color: var(--background-tertiary);
    color: var(--text-tertiary);
    padding: 50px;
    margin: 20px;
    display: flex;
    position: relative;
    float: right;
}

//resume page needs something to fill bottom right
//resume page text will not wrap div containers yet


























//Small Screen Breakpoint
@media only screen and (max-width:800px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        position: fixed; 
    }
    .fa {
        display:block;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        }
    .nav-link {
            justify-content: center;
            //content centered along x axis here
        }
    main {
        margin: 0;
    }
}

// Large Screen Breakpoints
@media only screen and (min-width: 800px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;}
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}